=begin
#API

#REST API to manage Reepay resources

OpenAPI spec version: 1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module Reepay
  class AddOnApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create add-on
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAddOn] :body 
    # @return [AddOn]
    def create_add_on(opts = {})
      data, _status_code, _headers = create_add_on_with_http_info(opts)
      return data
    end

    # Create add-on
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAddOn] :body 
    # @return [Array<(AddOn, Fixnum, Hash)>] AddOn data, response status code and response headers
    def create_add_on_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddOnApi.create_add_on ..."
      end
      # resource path
      local_var_path = "/v1/add_on"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddOn')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnApi#create_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @return [AddOn]
    def delete_add_on(handle, opts = {})
      data, _status_code, _headers = delete_add_on_with_http_info(handle, opts)
      return data
    end

    # Delete add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddOn, Fixnum, Hash)>] AddOn data, response status code and response headers
    def delete_add_on_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddOnApi.delete_add_on ..."
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling AddOnApi.delete_add_on"
      end
      # resource path
      local_var_path = "/v1/add_on/{handle}".sub('{' + 'handle' + '}', handle.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddOn')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnApi#delete_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @return [AddOn]
    def get_add_on(handle, opts = {})
      data, _status_code, _headers = get_add_on_with_http_info(handle, opts)
      return data
    end

    # Get add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddOn, Fixnum, Hash)>] AddOn data, response status code and response headers
    def get_add_on_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddOnApi.get_add_on ..."
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling AddOnApi.get_add_on"
      end
      # resource path
      local_var_path = "/v1/add_on/{handle}".sub('{' + 'handle' + '}', handle.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddOn')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnApi#get_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list of add-ons
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get (default to 1)
    # @option opts [Integer] :size Page size to use (default to 20)
    # @option opts [String] :search Optional search expression
    # @option opts [String] :sort Optional sorting expression
    # @return [AddOnSearch]
    def get_add_ons(opts = {})
      data, _status_code, _headers = get_add_ons_with_http_info(opts)
      return data
    end

    # Get list of add-ons
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number to get
    # @option opts [Integer] :size Page size to use
    # @option opts [String] :search Optional search expression
    # @option opts [String] :sort Optional sorting expression
    # @return [Array<(AddOnSearch, Fixnum, Hash)>] AddOnSearch data, response status code and response headers
    def get_add_ons_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddOnApi.get_add_ons ..."
      end
      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] > 10000000
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AddOnApi.get_add_ons, must be smaller than or equal to 10000000.'
      end

      if @api_client.config.client_side_validation && !opts[:'page'].nil? && opts[:'page'] < 1
        fail ArgumentError, 'invalid value for "opts[:"page"]" when calling AddOnApi.get_add_ons, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'size'].nil? && opts[:'size'] > 100
        fail ArgumentError, 'invalid value for "opts[:"size"]" when calling AddOnApi.get_add_ons, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'size'].nil? && opts[:'size'] < 1
        fail ArgumentError, 'invalid value for "opts[:"size"]" when calling AddOnApi.get_add_ons, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = "/v1/add_on"

      # query parameters
      query_params = {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddOnSearch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnApi#get_add_ons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Un-delete add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @return [AddOn]
    def undelete_add_on(handle, opts = {})
      data, _status_code, _headers = undelete_add_on_with_http_info(handle, opts)
      return data
    end

    # Un-delete add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddOn, Fixnum, Hash)>] AddOn data, response status code and response headers
    def undelete_add_on_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddOnApi.undelete_add_on ..."
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling AddOnApi.undelete_add_on"
      end
      # resource path
      local_var_path = "/v1/add_on/{handle}/undelete".sub('{' + 'handle' + '}', handle.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddOn')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnApi#undelete_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAddOn] :body 
    # @return [AddOn]
    def update_add_on(handle, opts = {})
      data, _status_code, _headers = update_add_on_with_http_info(handle, opts)
      return data
    end

    # Update add-on
    # 
    # @param handle Add-on handle
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateAddOn] :body 
    # @return [Array<(AddOn, Fixnum, Hash)>] AddOn data, response status code and response headers
    def update_add_on_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: AddOnApi.update_add_on ..."
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling AddOnApi.update_add_on"
      end
      # resource path
      local_var_path = "/v1/add_on/{handle}".sub('{' + 'handle' + '}', handle.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'AddOn')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnApi#update_add_on\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
