=begin
#API

#REST API to manage Reepay resources

OpenAPI spec version: 1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require "uri"

module Reepay
  class DiscountApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # Create discount
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateDiscount] :body 
    # @return [Discount]
    def create_discount(opts = {})
      data, _status_code, _headers = create_discount_with_http_info(opts)
      return data
    end

    # Create discount
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateDiscount] :body 
    # @return [Array<(Discount, Fixnum, Hash)>] Discount data, response status code and response headers
    def create_discount_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DiscountApi.create_discount ..."
      end
      # resource path
      local_var_path = "/v1/discount"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Discount')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountApi#create_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete discount
    # 
    # @param handle Discount handle
    # @param [Hash] opts the optional parameters
    # @return [Discount]
    def delete_discount(handle, opts = {})
      data, _status_code, _headers = delete_discount_with_http_info(handle, opts)
      return data
    end

    # Delete discount
    # 
    # @param handle Discount handle
    # @param [Hash] opts the optional parameters
    # @return [Array<(Discount, Fixnum, Hash)>] Discount data, response status code and response headers
    def delete_discount_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DiscountApi.delete_discount ..."
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling DiscountApi.delete_discount"
      end
      # resource path
      local_var_path = "/v1/discount/{handle}".sub('{' + 'handle' + '}', handle.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Discount')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountApi#delete_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get discount
    # 
    # @param handle Discount handle
    # @param [Hash] opts the optional parameters
    # @return [Discount]
    def get_discount(handle, opts = {})
      data, _status_code, _headers = get_discount_with_http_info(handle, opts)
      return data
    end

    # Get discount
    # 
    # @param handle Discount handle
    # @param [Hash] opts the optional parameters
    # @return [Array<(Discount, Fixnum, Hash)>] Discount data, response status code and response headers
    def get_discount_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DiscountApi.get_discount ..."
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling DiscountApi.get_discount"
      end
      # resource path
      local_var_path = "/v1/discount/{handle}".sub('{' + 'handle' + '}', handle.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Discount')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountApi#get_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get list of discounts
    # 
    # @param page Page number to get
    # @param size Page size to use
    # @param search Optional search expression
    # @param sort Optional sorting expression
    # @param [Hash] opts the optional parameters
    # @return [DiscountSearch]
    def get_discounts(page, size, search, sort, opts = {})
      data, _status_code, _headers = get_discounts_with_http_info(page, size, search, sort, opts)
      return data
    end

    # Get list of discounts
    # 
    # @param page Page number to get
    # @param size Page size to use
    # @param search Optional search expression
    # @param sort Optional sorting expression
    # @param [Hash] opts the optional parameters
    # @return [Array<(DiscountSearch, Fixnum, Hash)>] DiscountSearch data, response status code and response headers
    def get_discounts_with_http_info(page, size, search, sort, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DiscountApi.get_discounts ..."
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling DiscountApi.get_discounts"
      end
      if @api_client.config.client_side_validation && page > 10000000
        fail ArgumentError, 'invalid value for "page" when calling DiscountApi.get_discounts, must be smaller than or equal to 10000000.'
      end

      if @api_client.config.client_side_validation && page < 1
        fail ArgumentError, 'invalid value for "page" when calling DiscountApi.get_discounts, must be greater than or equal to 1.'
      end

      # verify the required parameter 'size' is set
      if @api_client.config.client_side_validation && size.nil?
        fail ArgumentError, "Missing the required parameter 'size' when calling DiscountApi.get_discounts"
      end
      if @api_client.config.client_side_validation && size > 100
        fail ArgumentError, 'invalid value for "size" when calling DiscountApi.get_discounts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && size < 1
        fail ArgumentError, 'invalid value for "size" when calling DiscountApi.get_discounts, must be greater than or equal to 1.'
      end

      # verify the required parameter 'search' is set
      if @api_client.config.client_side_validation && search.nil?
        fail ArgumentError, "Missing the required parameter 'search' when calling DiscountApi.get_discounts"
      end
      # verify the required parameter 'sort' is set
      if @api_client.config.client_side_validation && sort.nil?
        fail ArgumentError, "Missing the required parameter 'sort' when calling DiscountApi.get_discounts"
      end
      # resource path
      local_var_path = "/v1/discount"

      # query parameters
      query_params = {}
      query_params[:'page'] = page
      query_params[:'size'] = size
      query_params[:'search'] = search
      query_params[:'sort'] = sort

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DiscountSearch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountApi#get_discounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Undelete discount
    # 
    # @param handle Discount handle
    # @param [Hash] opts the optional parameters
    # @return [Discount]
    def undelete_discount(handle, opts = {})
      data, _status_code, _headers = undelete_discount_with_http_info(handle, opts)
      return data
    end

    # Undelete discount
    # 
    # @param handle Discount handle
    # @param [Hash] opts the optional parameters
    # @return [Array<(Discount, Fixnum, Hash)>] Discount data, response status code and response headers
    def undelete_discount_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DiscountApi.undelete_discount ..."
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling DiscountApi.undelete_discount"
      end
      # resource path
      local_var_path = "/v1/discount/{handle}/undelete".sub('{' + 'handle' + '}', handle.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['basicAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Discount')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DiscountApi#undelete_discount\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
